.husky
client/.husky
test/*
client/test/*
coverage/
client/coverage/
dist/
client/dist/
test/
client/test/
.git*
client/.git*
.vscode
client/.vscode
.eslintrc.js
client/.eslintrc.js
.prettierrc.js
client/.prettierrc.js
node_modules/*
client/node_modules/*
