@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Hubballi&family=Raleway:wght@200&display=swap');

.chat {
  font-family: 'Raleway', sans-serif;
  display: grid;
  flex-direction: column;
  grid-template-columns: 80px auto;
  grid-template-areas:
    'avatar username'
    'avatar message';
  color:#e9b3f8;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  background: rgb(153,30,186);
  background: radial-gradient(circle, rgba(153,30,186,1) 0%, rgba(108,34,129,1) 75%, rgba(101,26,122,1) 100%);
}

.chat-selected {
  border: 2px solid transparent;
  outline: 5px dotted rgb(153,30,186);
  filter: drop-shadow(0px 0px 5px rgb(215, 206, 218));
}

.chat:hover {
  cursor: pointer;
}

.chat__avatar {
  grid-area: avatar;
  width: 80px;
  border: 2px #e9b3f8;
  border-radius: 0.25em;
}

.chat__username {
  grid-area: username;
  margin-left: 1rem;
  font-weight: 600;
}

.chat__message {
  grid-area: message;
  margin-left: 1rem;
  font-size: 1.2em;
}
