.new-question {
  display: grid;
  background-color: rgba(108, 23, 134, 0.9);
  color: white;
  border: 4px dotted white;
  padding: 1em;
  margin: 1em;
  grid-template-columns: 150px auto;
  grid-template-rows: 2em 1fr;
  grid-template-areas:
    'avatar username'
    'avatar message';
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.45);

  animation: leftRight 1.25s alternate, fadeIn 1.5s;
}

.new-question__avatar {
  grid-area: avatar;
  width: 150px;
  height: 150px;
  border: 10px solid transparent;
  outline: 4px dotted white;
  /* border-radius: 100%; */
}

.new-question__username {
  grid-area: username;
  margin-left: 1rem;
  line-height: 20px;
  font-size: 25px;
  font-family: 'Concert One', cursive;
}

.new-question__username::before {
  content: '@';
}

.new-question__message {
  grid-area: message;
  margin-left: 1rem;
  align-self: flex-start;
  font-family: 'Hubballi', cursive;
  font-size: 2.5em;
}
