/**
 * Parallax Star background 100% in CSS
 *
 * Special thanks to [@screenshake](https://linkedin.com/in/saranshsinha)
 * @source [Codepen](https://codepen.io/saransh/pen/LYGbwj)
 */
.wrapper {
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1044px 671px #fff, 323px 1203px #fff, 1592px 130px #fff,
    35px 631px #fff, 23px 1842px #fff, 741px 926px #fff, 1718px 1313px #fff,
    1693px 1601px #fff, 96px 1133px #fff, 385px 452px #fff, 264px 395px #fff,
    1522px 913px #fff, 1041px 1541px #fff, 1788px 1439px #fff,
    1666px 1698px #fff, 581px 225px #fff, 1275px 1234px #fff, 1689px 1379px #fff,
    550px 1813px #fff, 1898px 691px #fff, 364px 1525px #fff, 1553px 687px #fff,
    1596px 855px #fff, 1479px 1294px #fff, 1325px 1200px #fff,
    1877px 1469px #fff, 256px 696px #fff, 1281px 250px #fff, 331px 958px #fff,
    1465px 1330px #fff, 1158px 147px #fff, 1724px 192px #fff, 103px 1623px #fff,
    1602px 1343px #fff, 1096px 630px #fff, 817px 1859px #fff, 1376px 1707px #fff,
    716px 1061px #fff, 1280px 45px #fff, 836px 771px #fff, 1194px 1410px #fff,
    1155px 1141px #fff, 153px 470px #fff, 683px 1094px #fff, 87px 576px #fff,
    857px 1461px #fff, 369px 1230px #fff, 329px 1028px #fff, 250px 1866px #fff,
    647px 1580px #fff, 880px 768px #fff, 251px 268px #fff, 1656px 617px #fff,
    72px 130px #fff, 822px 1811px #fff, 1028px 1443px #fff, 1180px 358px #fff,
    97px 728px #fff, 1614px 694px #fff, 1201px 569px #fff, 1596px 497px #fff,
    1873px 1969px #fff, 1181px 321px #fff, 574px 593px #fff, 604px 1523px #fff,
    1179px 823px #fff, 1206px 1570px #fff, 1187px 683px #fff, 734px 35px #fff,
    1611px 245px #fff, 1371px 771px #fff, 90px 540px #fff, 157px 1892px #fff,
    405px 936px #fff, 296px 1793px #fff, 117px 1637px #fff, 730px 621px #fff,
    394px 1058px #fff, 1807px 1924px #fff, 1137px 320px #fff, 372px 920px #fff,
    771px 830px #fff, 1192px 1241px #fff, 559px 1556px #fff, 1485px 315px #fff,
    298px 1562px #fff, 1826px 1063px #fff, 114px 349px #fff, 1198px 637px #fff,
    551px 670px #fff, 1171px 1236px #fff, 343px 1904px #fff, 1276px 1311px #fff,
    1770px 1764px #fff, 1988px 429px #fff, 724px 1345px #fff, 708px 1525px #fff,
    736px 1057px #fff, 740px 1758px #fff, 72px 1583px #fff, 1627px 1242px #fff,
    1105px 414px #fff, 1413px 1137px #fff, 1029px 1976px #fff,
    1393px 1205px #fff, 1791px 727px #fff, 1394px 950px #fff, 1284px 1563px #fff,
    238px 56px #fff, 862px 1765px #fff, 765px 319px #fff, 590px 285px #fff,
    1846px 880px #fff, 1580px 688px #fff, 408px 1124px #fff, 1378px 1423px #fff,
    741px 407px #fff, 1707px 1099px #fff, 576px 719px #fff, 1282px 929px #fff,
    1801px 1546px #fff, 140px 522px #fff, 510px 1655px #fff, 1281px 689px #fff,
    422px 1744px #fff, 40px 453px #fff, 160px 1375px #fff, 694px 1581px #fff,
    1450px 797px #fff, 509px 1864px #fff, 580px 1065px #fff, 226px 1723px #fff,
    365px 562px #fff, 1364px 1960px #fff, 1821px 1678px #fff, 76px 712px #fff,
    870px 988px #fff, 1317px 1849px #fff, 421px 1407px #fff, 1309px 963px #fff,
    1968px 492px #fff, 1995px 1031px #fff, 1459px 95px #fff, 13px 777px #fff,
    136px 1599px #fff, 943px 1863px #fff, 1303px 1871px #fff, 584px 1102px #fff,
    182px 1544px #fff, 1619px 669px #fff, 1221px 859px #fff, 1982px 676px #fff,
    1790px 436px #fff, 737px 1558px #fff, 1744px 897px #fff, 756px 470px #fff,
    972px 1078px #fff, 1011px 1234px #fff, 991px 177px #fff, 513px 667px #fff,
    1278px 367px #fff, 1101px 622px #fff, 1706px 802px #fff, 8px 1761px #fff,
    1738px 212px #fff, 955px 12px #fff, 1661px 1019px #fff, 598px 8px #fff,
    705px 23px #fff, 1647px 864px #fff, 841px 104px #fff, 730px 1087px #fff,
    1610px 1415px #fff, 111px 1011px #fff, 79px 760px #fff, 324px 1359px #fff,
    1250px 1972px #fff, 1978px 102px #fff, 1031px 1803px #fff, 1200px 328px #fff,
    601px 360px #fff, 1562px 419px #fff, 1619px 1647px #fff, 1199px 1226px #fff,
    483px 1591px #fff, 328px 1275px #fff, 1122px 806px #fff, 366px 1921px #fff,
    515px 739px #fff, 1378px 1585px #fff, 1631px 190px #fff, 1748px 891px #fff,
    1255px 1173px #fff, 686px 584px #fff, 1960px 1133px #fff, 788px 465px #fff,
    1522px 1193px #fff, 733px 820px #fff, 853px 1789px #fff, 92px 1114px #fff,
    770px 636px #fff, 177px 1048px #fff, 1852px 201px #fff, 370px 864px #fff,
    1907px 1350px #fff, 1056px 154px #fff, 1848px 1751px #fff, 1185px 524px #fff,
    459px 1902px #fff, 492px 262px #fff, 773px 435px #fff, 1429px 505px #fff,
    947px 863px #fff, 1715px 1725px #fff, 719px 1099px #fff, 1290px 394px #fff,
    561px 265px #fff, 344px 780px #fff, 1562px 737px #fff, 538px 1592px #fff,
    1470px 900px #fff, 205px 1931px #fff, 994px 555px #fff, 1841px 1193px #fff,
    956px 1442px #fff, 1926px 1727px #fff, 473px 722px #fff, 1242px 382px #fff,
    927px 653px #fff, 624px 892px #fff, 1884px 478px #fff, 1816px 414px #fff,
    1787px 547px #fff, 1809px 426px #fff, 761px 1180px #fff, 185px 918px #fff,
    1652px 1584px #fff, 1337px 1142px #fff, 1679px 1577px #fff, 201px 82px #fff,
    191px 1819px #fff, 770px 664px #fff, 1298px 1456px #fff, 1724px 872px #fff,
    806px 1116px #fff, 1285px 1926px #fff, 704px 1911px #fff, 35px 625px #fff,
    1579px 866px #fff, 1726px 1683px #fff, 271px 1210px #fff, 1530px 443px #fff,
    336px 360px #fff, 506px 1215px #fff, 1108px 1002px #fff, 761px 421px #fff,
    823px 539px #fff, 393px 1686px #fff, 1202px 393px #fff, 1621px 1206px #fff,
    49px 632px #fff, 1806px 1815px #fff, 928px 1787px #fff, 263px 1236px #fff,
    605px 94px #fff, 722px 271px #fff, 1352px 1629px #fff, 621px 1422px #fff,
    378px 1764px #fff, 1021px 1041px #fff, 1973px 1711px #fff,
    1680px 1858px #fff, 1904px 844px #fff, 448px 1202px #fff, 1650px 1444px #fff,
    329px 658px #fff, 1251px 442px #fff, 223px 682px #fff, 566px 1643px #fff,
    447px 1622px #fff, 106px 1100px #fff, 1901px 652px #fff, 1268px 1255px #fff,
    480px 1786px #fff, 1327px 563px #fff, 1413px 286px #fff, 157px 1292px #fff,
    1039px 1443px #fff, 767px 357px #fff, 306px 1521px #fff, 1878px 56px #fff,
    1657px 169px #fff, 292px 618px #fff, 1610px 49px #fff, 1393px 672px #fff,
    649px 1440px #fff, 726px 426px #fff, 1177px 1040px #fff, 742px 670px #fff,
    925px 762px #fff, 1150px 558px #fff, 906px 792px #fff, 694px 209px #fff,
    1276px 1626px #fff, 1932px 1853px #fff, 539px 1449px #fff, 1354px 707px #fff,
    1860px 765px #fff, 1063px 992px #fff, 932px 1273px #fff, 1863px 1527px #fff,
    306px 1688px #fff, 1427px 283px #fff, 1283px 1267px #fff, 1760px 685px #fff,
    547px 164px #fff, 756px 236px #fff, 341px 1363px #fff, 494px 874px #fff,
    777px 599px #fff, 47px 665px #fff, 401px 1998px #fff, 540px 1039px #fff,
    829px 1766px #fff, 1743px 366px #fff, 250px 320px #fff, 1338px 1629px #fff,
    1831px 1991px #fff, 1838px 1607px #fff, 289px 1782px #fff, 815px 856px #fff,
    632px 295px #fff, 1328px 454px #fff, 1343px 751px #fff, 816px 956px #fff,
    1466px 167px #fff, 1933px 795px #fff, 1563px 200px #fff, 791px 1453px #fff,
    856px 879px #fff, 67px 1538px #fff, 1316px 151px #fff, 1719px 1612px #fff,
    836px 913px #fff, 1390px 1029px #fff, 1584px 573px #fff, 128px 751px #fff,
    1881px 980px #fff, 1977px 781px #fff, 929px 1167px #fff, 1084px 1014px #fff,
    1788px 1811px #fff, 336px 853px #fff, 1999px 641px #fff, 692px 396px #fff,
    1387px 161px #fff, 141px 666px #fff, 1942px 1001px #fff, 1956px 1113px #fff,
    1248px 1215px #fff, 1168px 1044px #fff, 1538px 1878px #fff, 52px 1917px #fff,
    1144px 1358px #fff, 132px 617px #fff, 1373px 485px #fff, 152px 738px #fff,
    826px 126px #fff, 1911px 1767px #fff, 1029px 1765px #fff, 1547px 1670px #fff,
    346px 1170px #fff, 522px 509px #fff, 824px 1434px #fff, 1361px 1403px #fff,
    1380px 1115px #fff, 837px 1300px #fff, 1355px 1357px #fff, 1629px 188px #fff,
    888px 1462px #fff, 1913px 574px #fff, 6px 563px #fff, 854px 515px #fff,
    1653px 579px #fff, 1952px 754px #fff, 689px 1888px #fff, 1953px 1364px #fff,
    1661px 221px #fff, 220px 840px #fff, 15px 262px #fff, 1359px 1641px #fff,
    453px 1046px #fff, 1914px 1167px #fff, 254px 594px #fff, 999px 1896px #fff,
    1977px 889px #fff, 1785px 230px #fff, 562px 1768px #fff, 1321px 1934px #fff,
    459px 552px #fff, 480px 1728px #fff, 632px 1884px #fff, 419px 1415px #fff,
    1254px 1712px #fff, 1273px 808px #fff, 83px 1838px #fff, 1257px 1206px #fff,
    1649px 1565px #fff, 1975px 1311px #fff, 1131px 261px #fff, 845px 247px #fff,
    441px 1533px #fff, 1979px 1853px #fff, 489px 1212px #fff, 1658px 1350px #fff,
    1367px 346px #fff, 580px 1805px #fff, 1229px 17px #fff, 1077px 528px #fff,
    442px 1724px #fff, 299px 446px #fff, 323px 970px #fff, 1440px 1957px #fff,
    1842px 926px #fff, 1959px 474px #fff, 1174px 647px #fff, 864px 640px #fff,
    1686px 814px #fff, 424px 1486px #fff, 344px 30px #fff, 1277px 1511px #fff,
    605px 356px #fff, 871px 806px #fff, 1567px 1547px #fff, 321px 1314px #fff,
    1039px 898px #fff, 1391px 1718px #fff, 232px 917px #fff, 1424px 66px #fff,
    955px 267px #fff, 876px 673px #fff, 849px 641px #fff, 1530px 622px #fff,
    1473px 288px #fff, 1573px 1813px #fff, 1533px 1553px #fff, 432px 1189px #fff,
    1146px 1412px #fff, 703px 19px #fff, 1465px 271px #fff, 1516px 1605px #fff,
    175px 148px #fff, 1819px 1138px #fff, 463px 1748px #fff, 1127px 1495px #fff,
    1723px 1640px #fff, 1182px 1811px #fff, 1740px 245px #fff, 634px 344px #fff,
    273px 1414px #fff, 1483px 321px #fff, 1738px 332px #fff, 446px 971px #fff,
    372px 1373px #fff, 1571px 288px #fff, 414px 890px #fff, 160px 512px #fff,
    1965px 593px #fff, 1485px 1479px #fff, 800px 774px #fff, 1779px 1761px #fff,
    384px 482px #fff, 1772px 1165px #fff, 1740px 1988px #fff, 1872px 1008px #fff,
    1127px 820px #fff, 1393px 680px #fff, 1065px 553px #fff, 1286px 476px #fff,
    1058px 1441px #fff, 663px 217px #fff, 275px 1411px #fff, 158px 1457px #fff,
    216px 1038px #fff, 87px 582px #fff, 805px 943px #fff, 360px 102px #fff,
    302px 1113px #fff, 745px 935px #fff, 763px 753px #fff, 1760px 1510px #fff,
    1415px 372px #fff, 684px 1914px #fff, 516px 149px #fff, 481px 1523px #fff,
    223px 962px #fff, 1221px 376px #fff, 466px 290px #fff, 1223px 1023px #fff,
    993px 933px #fff, 454px 15px #fff, 1751px 602px #fff, 1945px 1968px #fff,
    732px 1483px #fff, 500px 1212px #fff, 121px 213px #fff, 917px 1086px #fff,
    1497px 1306px #fff, 202px 687px #fff, 870px 117px #fff, 454px 694px #fff,
    1856px 542px #fff, 1982px 169px #fff, 1057px 943px #fff, 625px 390px #fff,
    364px 1410px #fff, 1832px 1066px #fff, 808px 1575px #fff, 1871px 1899px #fff,
    1477px 5px #fff, 878px 1859px #fff, 1339px 1058px #fff, 1910px 1599px #fff,
    1553px 427px #fff, 117px 1477px #fff, 436px 368px #fff, 1685px 555px #fff,
    1146px 595px #fff, 239px 1905px #fff, 17px 547px #fff, 933px 246px #fff,
    761px 1347px #fff, 1489px 1456px #fff, 985px 1898px #fff, 318px 891px #fff,
    1901px 1381px #fff, 1149px 52px #fff, 758px 1227px #fff, 186px 383px #fff,
    50px 1106px #fff, 1444px 1762px #fff, 1227px 996px #fff, 25px 585px #fff,
    802px 365px #fff, 1826px 1393px #fff, 1412px 526px #fff, 1553px 967px #fff,
    1248px 933px #fff, 635px 637px #fff, 1129px 952px #fff, 1561px 620px #fff,
    1131px 356px #fff, 204px 1964px #fff, 358px 1920px #fff, 527px 1256px #fff,
    1716px 1321px #fff, 1563px 1866px #fff, 1499px 1305px #fff,
    780px 1022px #fff, 1499px 773px #fff, 1144px 1996px #fff, 332px 441px #fff,
    395px 1728px #fff, 1365px 185px #fff, 878px 470px #fff, 594px 284px #fff,
    1837px 1477px #fff, 985px 1589px #fff, 887px 1079px #fff, 1593px 277px #fff,
    1474px 1407px #fff, 516px 475px #fff, 570px 1209px #fff, 1828px 533px #fff,
    739px 1500px #fff, 1001px 1161px #fff, 799px 775px #fff, 1898px 1466px #fff,
    1744px 41px #fff, 576px 734px #fff, 528px 1982px #fff, 762px 1193px #fff,
    1891px 928px #fff, 1283px 1135px #fff, 1822px 1864px #fff, 494px 1801px #fff,
    1752px 372px #fff, 1256px 1801px #fff, 164px 1185px #fff, 1817px 646px #fff,
    880px 418px #fff, 1518px 317px #fff, 1434px 374px #fff, 83px 991px #fff,
    1150px 1240px #fff, 1677px 845px #fff, 59px 713px #fff, 186px 1584px #fff,
    319px 541px #fff, 975px 1770px #fff, 1412px 1260px #fff, 1054px 1116px #fff,
    309px 1881px #fff, 610px 995px #fff, 792px 1444px #fff, 1820px 933px #fff,
    83px 63px #fff, 1384px 951px #fff, 1210px 532px #fff, 1444px 1120px #fff,
    114px 1986px #fff, 1445px 118px #fff, 99px 12px #fff, 466px 1765px #fff,
    406px 178px #fff, 885px 1668px #fff, 98px 176px #fff, 1455px 1062px #fff,
    1232px 1286px #fff, 1267px 87px #fff, 1909px 504px #fff, 1735px 182px #fff,
    1719px 215px #fff, 1881px 624px #fff, 693px 433px #fff, 1687px 733px #fff,
    1738px 192px #fff, 347px 848px #fff, 925px 1129px #fff, 1374px 1757px #fff,
    1420px 1712px #fff, 1085px 418px #fff, 1072px 1940px #fff,
    1894px 1828px #fff, 1634px 590px #fff, 1490px 1887px #fff, 1663px 535px #fff,
    1659px 115px #fff, 630px 1013px #fff, 770px 1791px #fff, 1419px 1284px #fff,
    1048px 747px #fff, 1937px 1854px #fff, 1825px 1322px #fff, 505px 955px #fff,
    906px 188px #fff, 1162px 1349px #fff, 1891px 819px #fff, 964px 1273px #fff,
    315px 220px #fff, 1865px 417px #fff, 500px 87px #fff, 1909px 1180px #fff,
    1863px 1211px #fff, 953px 367px #fff, 926px 1751px #fff, 1632px 1469px #fff,
    576px 918px #fff, 368px 395px #fff, 1203px 1974px #fff, 641px 448px #fff,
    424px 1388px #fff, 749px 1834px #fff, 514px 1080px #fff, 659px 50px #fff,
    1927px 950px #fff, 1246px 1117px #fff, 1269px 1524px #fff, 109px 1419px #fff,
    1769px 1706px #fff, 362px 56px #fff, 643px 1345px #fff, 508px 697px #fff,
    1697px 1048px #fff, 811px 1969px #fff, 603px 158px #fff, 1683px 46px #fff,
    538px 31px #fff, 1533px 746px #fff, 365px 574px #fff, 1361px 1235px #fff,
    1464px 1268px #fff, 575px 1799px #fff, 536px 1115px #fff, 1596px 1675px #fff,
    971px 1721px #fff, 188px 913px #fff, 111px 1997px #fff, 121px 1672px #fff,
    870px 467px #fff, 596px 1885px #fff, 1240px 760px #fff, 1116px 444px #fff,
    1554px 1600px #fff, 289px 19px #fff, 1344px 946px #fff, 1067px 680px #fff,
    1174px 354px #fff, 539px 561px #fff, 876px 297px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1044px 671px #fff, 323px 1203px #fff, 1592px 130px #fff,
    35px 631px #fff, 23px 1842px #fff, 741px 926px #fff, 1718px 1313px #fff,
    1693px 1601px #fff, 96px 1133px #fff, 385px 452px #fff, 264px 395px #fff,
    1522px 913px #fff, 1041px 1541px #fff, 1788px 1439px #fff,
    1666px 1698px #fff, 581px 225px #fff, 1275px 1234px #fff, 1689px 1379px #fff,
    550px 1813px #fff, 1898px 691px #fff, 364px 1525px #fff, 1553px 687px #fff,
    1596px 855px #fff, 1479px 1294px #fff, 1325px 1200px #fff,
    1877px 1469px #fff, 256px 696px #fff, 1281px 250px #fff, 331px 958px #fff,
    1465px 1330px #fff, 1158px 147px #fff, 1724px 192px #fff, 103px 1623px #fff,
    1602px 1343px #fff, 1096px 630px #fff, 817px 1859px #fff, 1376px 1707px #fff,
    716px 1061px #fff, 1280px 45px #fff, 836px 771px #fff, 1194px 1410px #fff,
    1155px 1141px #fff, 153px 470px #fff, 683px 1094px #fff, 87px 576px #fff,
    857px 1461px #fff, 369px 1230px #fff, 329px 1028px #fff, 250px 1866px #fff,
    647px 1580px #fff, 880px 768px #fff, 251px 268px #fff, 1656px 617px #fff,
    72px 130px #fff, 822px 1811px #fff, 1028px 1443px #fff, 1180px 358px #fff,
    97px 728px #fff, 1614px 694px #fff, 1201px 569px #fff, 1596px 497px #fff,
    1873px 1969px #fff, 1181px 321px #fff, 574px 593px #fff, 604px 1523px #fff,
    1179px 823px #fff, 1206px 1570px #fff, 1187px 683px #fff, 734px 35px #fff,
    1611px 245px #fff, 1371px 771px #fff, 90px 540px #fff, 157px 1892px #fff,
    405px 936px #fff, 296px 1793px #fff, 117px 1637px #fff, 730px 621px #fff,
    394px 1058px #fff, 1807px 1924px #fff, 1137px 320px #fff, 372px 920px #fff,
    771px 830px #fff, 1192px 1241px #fff, 559px 1556px #fff, 1485px 315px #fff,
    298px 1562px #fff, 1826px 1063px #fff, 114px 349px #fff, 1198px 637px #fff,
    551px 670px #fff, 1171px 1236px #fff, 343px 1904px #fff, 1276px 1311px #fff,
    1770px 1764px #fff, 1988px 429px #fff, 724px 1345px #fff, 708px 1525px #fff,
    736px 1057px #fff, 740px 1758px #fff, 72px 1583px #fff, 1627px 1242px #fff,
    1105px 414px #fff, 1413px 1137px #fff, 1029px 1976px #fff,
    1393px 1205px #fff, 1791px 727px #fff, 1394px 950px #fff, 1284px 1563px #fff,
    238px 56px #fff, 862px 1765px #fff, 765px 319px #fff, 590px 285px #fff,
    1846px 880px #fff, 1580px 688px #fff, 408px 1124px #fff, 1378px 1423px #fff,
    741px 407px #fff, 1707px 1099px #fff, 576px 719px #fff, 1282px 929px #fff,
    1801px 1546px #fff, 140px 522px #fff, 510px 1655px #fff, 1281px 689px #fff,
    422px 1744px #fff, 40px 453px #fff, 160px 1375px #fff, 694px 1581px #fff,
    1450px 797px #fff, 509px 1864px #fff, 580px 1065px #fff, 226px 1723px #fff,
    365px 562px #fff, 1364px 1960px #fff, 1821px 1678px #fff, 76px 712px #fff,
    870px 988px #fff, 1317px 1849px #fff, 421px 1407px #fff, 1309px 963px #fff,
    1968px 492px #fff, 1995px 1031px #fff, 1459px 95px #fff, 13px 777px #fff,
    136px 1599px #fff, 943px 1863px #fff, 1303px 1871px #fff, 584px 1102px #fff,
    182px 1544px #fff, 1619px 669px #fff, 1221px 859px #fff, 1982px 676px #fff,
    1790px 436px #fff, 737px 1558px #fff, 1744px 897px #fff, 756px 470px #fff,
    972px 1078px #fff, 1011px 1234px #fff, 991px 177px #fff, 513px 667px #fff,
    1278px 367px #fff, 1101px 622px #fff, 1706px 802px #fff, 8px 1761px #fff,
    1738px 212px #fff, 955px 12px #fff, 1661px 1019px #fff, 598px 8px #fff,
    705px 23px #fff, 1647px 864px #fff, 841px 104px #fff, 730px 1087px #fff,
    1610px 1415px #fff, 111px 1011px #fff, 79px 760px #fff, 324px 1359px #fff,
    1250px 1972px #fff, 1978px 102px #fff, 1031px 1803px #fff, 1200px 328px #fff,
    601px 360px #fff, 1562px 419px #fff, 1619px 1647px #fff, 1199px 1226px #fff,
    483px 1591px #fff, 328px 1275px #fff, 1122px 806px #fff, 366px 1921px #fff,
    515px 739px #fff, 1378px 1585px #fff, 1631px 190px #fff, 1748px 891px #fff,
    1255px 1173px #fff, 686px 584px #fff, 1960px 1133px #fff, 788px 465px #fff,
    1522px 1193px #fff, 733px 820px #fff, 853px 1789px #fff, 92px 1114px #fff,
    770px 636px #fff, 177px 1048px #fff, 1852px 201px #fff, 370px 864px #fff,
    1907px 1350px #fff, 1056px 154px #fff, 1848px 1751px #fff, 1185px 524px #fff,
    459px 1902px #fff, 492px 262px #fff, 773px 435px #fff, 1429px 505px #fff,
    947px 863px #fff, 1715px 1725px #fff, 719px 1099px #fff, 1290px 394px #fff,
    561px 265px #fff, 344px 780px #fff, 1562px 737px #fff, 538px 1592px #fff,
    1470px 900px #fff, 205px 1931px #fff, 994px 555px #fff, 1841px 1193px #fff,
    956px 1442px #fff, 1926px 1727px #fff, 473px 722px #fff, 1242px 382px #fff,
    927px 653px #fff, 624px 892px #fff, 1884px 478px #fff, 1816px 414px #fff,
    1787px 547px #fff, 1809px 426px #fff, 761px 1180px #fff, 185px 918px #fff,
    1652px 1584px #fff, 1337px 1142px #fff, 1679px 1577px #fff, 201px 82px #fff,
    191px 1819px #fff, 770px 664px #fff, 1298px 1456px #fff, 1724px 872px #fff,
    806px 1116px #fff, 1285px 1926px #fff, 704px 1911px #fff, 35px 625px #fff,
    1579px 866px #fff, 1726px 1683px #fff, 271px 1210px #fff, 1530px 443px #fff,
    336px 360px #fff, 506px 1215px #fff, 1108px 1002px #fff, 761px 421px #fff,
    823px 539px #fff, 393px 1686px #fff, 1202px 393px #fff, 1621px 1206px #fff,
    49px 632px #fff, 1806px 1815px #fff, 928px 1787px #fff, 263px 1236px #fff,
    605px 94px #fff, 722px 271px #fff, 1352px 1629px #fff, 621px 1422px #fff,
    378px 1764px #fff, 1021px 1041px #fff, 1973px 1711px #fff,
    1680px 1858px #fff, 1904px 844px #fff, 448px 1202px #fff, 1650px 1444px #fff,
    329px 658px #fff, 1251px 442px #fff, 223px 682px #fff, 566px 1643px #fff,
    447px 1622px #fff, 106px 1100px #fff, 1901px 652px #fff, 1268px 1255px #fff,
    480px 1786px #fff, 1327px 563px #fff, 1413px 286px #fff, 157px 1292px #fff,
    1039px 1443px #fff, 767px 357px #fff, 306px 1521px #fff, 1878px 56px #fff,
    1657px 169px #fff, 292px 618px #fff, 1610px 49px #fff, 1393px 672px #fff,
    649px 1440px #fff, 726px 426px #fff, 1177px 1040px #fff, 742px 670px #fff,
    925px 762px #fff, 1150px 558px #fff, 906px 792px #fff, 694px 209px #fff,
    1276px 1626px #fff, 1932px 1853px #fff, 539px 1449px #fff, 1354px 707px #fff,
    1860px 765px #fff, 1063px 992px #fff, 932px 1273px #fff, 1863px 1527px #fff,
    306px 1688px #fff, 1427px 283px #fff, 1283px 1267px #fff, 1760px 685px #fff,
    547px 164px #fff, 756px 236px #fff, 341px 1363px #fff, 494px 874px #fff,
    777px 599px #fff, 47px 665px #fff, 401px 1998px #fff, 540px 1039px #fff,
    829px 1766px #fff, 1743px 366px #fff, 250px 320px #fff, 1338px 1629px #fff,
    1831px 1991px #fff, 1838px 1607px #fff, 289px 1782px #fff, 815px 856px #fff,
    632px 295px #fff, 1328px 454px #fff, 1343px 751px #fff, 816px 956px #fff,
    1466px 167px #fff, 1933px 795px #fff, 1563px 200px #fff, 791px 1453px #fff,
    856px 879px #fff, 67px 1538px #fff, 1316px 151px #fff, 1719px 1612px #fff,
    836px 913px #fff, 1390px 1029px #fff, 1584px 573px #fff, 128px 751px #fff,
    1881px 980px #fff, 1977px 781px #fff, 929px 1167px #fff, 1084px 1014px #fff,
    1788px 1811px #fff, 336px 853px #fff, 1999px 641px #fff, 692px 396px #fff,
    1387px 161px #fff, 141px 666px #fff, 1942px 1001px #fff, 1956px 1113px #fff,
    1248px 1215px #fff, 1168px 1044px #fff, 1538px 1878px #fff, 52px 1917px #fff,
    1144px 1358px #fff, 132px 617px #fff, 1373px 485px #fff, 152px 738px #fff,
    826px 126px #fff, 1911px 1767px #fff, 1029px 1765px #fff, 1547px 1670px #fff,
    346px 1170px #fff, 522px 509px #fff, 824px 1434px #fff, 1361px 1403px #fff,
    1380px 1115px #fff, 837px 1300px #fff, 1355px 1357px #fff, 1629px 188px #fff,
    888px 1462px #fff, 1913px 574px #fff, 6px 563px #fff, 854px 515px #fff,
    1653px 579px #fff, 1952px 754px #fff, 689px 1888px #fff, 1953px 1364px #fff,
    1661px 221px #fff, 220px 840px #fff, 15px 262px #fff, 1359px 1641px #fff,
    453px 1046px #fff, 1914px 1167px #fff, 254px 594px #fff, 999px 1896px #fff,
    1977px 889px #fff, 1785px 230px #fff, 562px 1768px #fff, 1321px 1934px #fff,
    459px 552px #fff, 480px 1728px #fff, 632px 1884px #fff, 419px 1415px #fff,
    1254px 1712px #fff, 1273px 808px #fff, 83px 1838px #fff, 1257px 1206px #fff,
    1649px 1565px #fff, 1975px 1311px #fff, 1131px 261px #fff, 845px 247px #fff,
    441px 1533px #fff, 1979px 1853px #fff, 489px 1212px #fff, 1658px 1350px #fff,
    1367px 346px #fff, 580px 1805px #fff, 1229px 17px #fff, 1077px 528px #fff,
    442px 1724px #fff, 299px 446px #fff, 323px 970px #fff, 1440px 1957px #fff,
    1842px 926px #fff, 1959px 474px #fff, 1174px 647px #fff, 864px 640px #fff,
    1686px 814px #fff, 424px 1486px #fff, 344px 30px #fff, 1277px 1511px #fff,
    605px 356px #fff, 871px 806px #fff, 1567px 1547px #fff, 321px 1314px #fff,
    1039px 898px #fff, 1391px 1718px #fff, 232px 917px #fff, 1424px 66px #fff,
    955px 267px #fff, 876px 673px #fff, 849px 641px #fff, 1530px 622px #fff,
    1473px 288px #fff, 1573px 1813px #fff, 1533px 1553px #fff, 432px 1189px #fff,
    1146px 1412px #fff, 703px 19px #fff, 1465px 271px #fff, 1516px 1605px #fff,
    175px 148px #fff, 1819px 1138px #fff, 463px 1748px #fff, 1127px 1495px #fff,
    1723px 1640px #fff, 1182px 1811px #fff, 1740px 245px #fff, 634px 344px #fff,
    273px 1414px #fff, 1483px 321px #fff, 1738px 332px #fff, 446px 971px #fff,
    372px 1373px #fff, 1571px 288px #fff, 414px 890px #fff, 160px 512px #fff,
    1965px 593px #fff, 1485px 1479px #fff, 800px 774px #fff, 1779px 1761px #fff,
    384px 482px #fff, 1772px 1165px #fff, 1740px 1988px #fff, 1872px 1008px #fff,
    1127px 820px #fff, 1393px 680px #fff, 1065px 553px #fff, 1286px 476px #fff,
    1058px 1441px #fff, 663px 217px #fff, 275px 1411px #fff, 158px 1457px #fff,
    216px 1038px #fff, 87px 582px #fff, 805px 943px #fff, 360px 102px #fff,
    302px 1113px #fff, 745px 935px #fff, 763px 753px #fff, 1760px 1510px #fff,
    1415px 372px #fff, 684px 1914px #fff, 516px 149px #fff, 481px 1523px #fff,
    223px 962px #fff, 1221px 376px #fff, 466px 290px #fff, 1223px 1023px #fff,
    993px 933px #fff, 454px 15px #fff, 1751px 602px #fff, 1945px 1968px #fff,
    732px 1483px #fff, 500px 1212px #fff, 121px 213px #fff, 917px 1086px #fff,
    1497px 1306px #fff, 202px 687px #fff, 870px 117px #fff, 454px 694px #fff,
    1856px 542px #fff, 1982px 169px #fff, 1057px 943px #fff, 625px 390px #fff,
    364px 1410px #fff, 1832px 1066px #fff, 808px 1575px #fff, 1871px 1899px #fff,
    1477px 5px #fff, 878px 1859px #fff, 1339px 1058px #fff, 1910px 1599px #fff,
    1553px 427px #fff, 117px 1477px #fff, 436px 368px #fff, 1685px 555px #fff,
    1146px 595px #fff, 239px 1905px #fff, 17px 547px #fff, 933px 246px #fff,
    761px 1347px #fff, 1489px 1456px #fff, 985px 1898px #fff, 318px 891px #fff,
    1901px 1381px #fff, 1149px 52px #fff, 758px 1227px #fff, 186px 383px #fff,
    50px 1106px #fff, 1444px 1762px #fff, 1227px 996px #fff, 25px 585px #fff,
    802px 365px #fff, 1826px 1393px #fff, 1412px 526px #fff, 1553px 967px #fff,
    1248px 933px #fff, 635px 637px #fff, 1129px 952px #fff, 1561px 620px #fff,
    1131px 356px #fff, 204px 1964px #fff, 358px 1920px #fff, 527px 1256px #fff,
    1716px 1321px #fff, 1563px 1866px #fff, 1499px 1305px #fff,
    780px 1022px #fff, 1499px 773px #fff, 1144px 1996px #fff, 332px 441px #fff,
    395px 1728px #fff, 1365px 185px #fff, 878px 470px #fff, 594px 284px #fff,
    1837px 1477px #fff, 985px 1589px #fff, 887px 1079px #fff, 1593px 277px #fff,
    1474px 1407px #fff, 516px 475px #fff, 570px 1209px #fff, 1828px 533px #fff,
    739px 1500px #fff, 1001px 1161px #fff, 799px 775px #fff, 1898px 1466px #fff,
    1744px 41px #fff, 576px 734px #fff, 528px 1982px #fff, 762px 1193px #fff,
    1891px 928px #fff, 1283px 1135px #fff, 1822px 1864px #fff, 494px 1801px #fff,
    1752px 372px #fff, 1256px 1801px #fff, 164px 1185px #fff, 1817px 646px #fff,
    880px 418px #fff, 1518px 317px #fff, 1434px 374px #fff, 83px 991px #fff,
    1150px 1240px #fff, 1677px 845px #fff, 59px 713px #fff, 186px 1584px #fff,
    319px 541px #fff, 975px 1770px #fff, 1412px 1260px #fff, 1054px 1116px #fff,
    309px 1881px #fff, 610px 995px #fff, 792px 1444px #fff, 1820px 933px #fff,
    83px 63px #fff, 1384px 951px #fff, 1210px 532px #fff, 1444px 1120px #fff,
    114px 1986px #fff, 1445px 118px #fff, 99px 12px #fff, 466px 1765px #fff,
    406px 178px #fff, 885px 1668px #fff, 98px 176px #fff, 1455px 1062px #fff,
    1232px 1286px #fff, 1267px 87px #fff, 1909px 504px #fff, 1735px 182px #fff,
    1719px 215px #fff, 1881px 624px #fff, 693px 433px #fff, 1687px 733px #fff,
    1738px 192px #fff, 347px 848px #fff, 925px 1129px #fff, 1374px 1757px #fff,
    1420px 1712px #fff, 1085px 418px #fff, 1072px 1940px #fff,
    1894px 1828px #fff, 1634px 590px #fff, 1490px 1887px #fff, 1663px 535px #fff,
    1659px 115px #fff, 630px 1013px #fff, 770px 1791px #fff, 1419px 1284px #fff,
    1048px 747px #fff, 1937px 1854px #fff, 1825px 1322px #fff, 505px 955px #fff,
    906px 188px #fff, 1162px 1349px #fff, 1891px 819px #fff, 964px 1273px #fff,
    315px 220px #fff, 1865px 417px #fff, 500px 87px #fff, 1909px 1180px #fff,
    1863px 1211px #fff, 953px 367px #fff, 926px 1751px #fff, 1632px 1469px #fff,
    576px 918px #fff, 368px 395px #fff, 1203px 1974px #fff, 641px 448px #fff,
    424px 1388px #fff, 749px 1834px #fff, 514px 1080px #fff, 659px 50px #fff,
    1927px 950px #fff, 1246px 1117px #fff, 1269px 1524px #fff, 109px 1419px #fff,
    1769px 1706px #fff, 362px 56px #fff, 643px 1345px #fff, 508px 697px #fff,
    1697px 1048px #fff, 811px 1969px #fff, 603px 158px #fff, 1683px 46px #fff,
    538px 31px #fff, 1533px 746px #fff, 365px 574px #fff, 1361px 1235px #fff,
    1464px 1268px #fff, 575px 1799px #fff, 536px 1115px #fff, 1596px 1675px #fff,
    971px 1721px #fff, 188px 913px #fff, 111px 1997px #fff, 121px 1672px #fff,
    870px 467px #fff, 596px 1885px #fff, 1240px 760px #fff, 1116px 444px #fff,
    1554px 1600px #fff, 289px 19px #fff, 1344px 946px #fff, 1067px 680px #fff,
    1174px 354px #fff, 539px 561px #fff, 876px 297px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1283px 1818px #fff, 219px 578px #fff, 610px 1683px #fff,
    275px 642px #fff, 1878px 468px #fff, 1318px 2000px #fff, 82px 751px #fff,
    702px 1954px #fff, 794px 1295px #fff, 864px 502px #fff, 1185px 64px #fff,
    97px 1949px #fff, 970px 265px #fff, 870px 1401px #fff, 337px 441px #fff,
    1922px 1080px #fff, 301px 1003px #fff, 1618px 1157px #fff, 707px 827px #fff,
    23px 433px #fff, 1823px 1142px #fff, 863px 1864px #fff, 480px 576px #fff,
    1868px 963px #fff, 1869px 1510px #fff, 1709px 1688px #fff,
    1825px 1935px #fff, 78px 134px #fff, 1999px 101px #fff, 231px 737px #fff,
    1194px 1740px #fff, 1244px 1416px #fff, 1434px 962px #fff, 249px 41px #fff,
    1675px 420px #fff, 1181px 1090px #fff, 1038px 388px #fff, 948px 793px #fff,
    794px 230px #fff, 601px 358px #fff, 659px 1586px #fff, 1759px 1855px #fff,
    1995px 307px #fff, 140px 365px #fff, 1541px 700px #fff, 1068px 1474px #fff,
    651px 217px #fff, 1370px 798px #fff, 802px 622px #fff, 1291px 1622px #fff,
    1390px 1240px #fff, 1505px 1325px #fff, 1685px 1287px #fff,
    1370px 344px #fff, 1250px 234px #fff, 1764px 158px #fff, 853px 1124px #fff,
    1390px 1400px #fff, 840px 547px #fff, 1880px 1846px #fff, 1105px 601px #fff,
    961px 1080px #fff, 714px 1693px #fff, 828px 50px #fff, 1755px 1161px #fff,
    1487px 1122px #fff, 100px 1233px #fff, 889px 1526px #fff, 1041px 583px #fff,
    331px 603px #fff, 1983px 774px #fff, 182px 872px #fff, 1318px 467px #fff,
    1430px 203px #fff, 771px 761px #fff, 875px 1894px #fff, 1715px 17px #fff,
    1897px 432px #fff, 476px 1810px #fff, 371px 905px #fff, 1795px 1231px #fff,
    1465px 1477px #fff, 697px 278px #fff, 1904px 1347px #fff, 806px 1852px #fff,
    1181px 673px #fff, 664px 70px #fff, 1219px 59px #fff, 1909px 1070px #fff,
    1719px 1859px #fff, 1226px 1417px #fff, 400px 694px #fff, 1769px 1138px #fff,
    433px 962px #fff, 1879px 251px #fff, 1581px 1164px #fff, 951px 49px #fff,
    731px 1880px #fff, 1608px 844px #fff, 208px 1158px #fff, 1007px 1531px #fff,
    1330px 546px #fff, 1175px 1633px #fff, 442px 783px #fff, 1880px 766px #fff,
    97px 1296px #fff, 1837px 1196px #fff, 11px 950px #fff, 1223px 779px #fff,
    307px 1167px #fff, 1959px 1011px #fff, 108px 1448px #fff, 872px 472px #fff,
    566px 569px #fff, 248px 1429px #fff, 1142px 1029px #fff, 964px 471px #fff,
    83px 401px #fff, 1588px 444px #fff, 1312px 1832px #fff, 1871px 1138px #fff,
    1485px 399px #fff, 1148px 1199px #fff, 531px 1558px #fff, 1417px 1735px #fff,
    836px 1564px #fff, 1734px 1489px #fff, 1221px 304px #fff, 939px 466px #fff,
    1034px 125px #fff, 408px 79px #fff, 123px 344px #fff, 95px 1364px #fff,
    887px 1561px #fff, 75px 882px #fff, 1859px 1627px #fff, 1125px 1679px #fff,
    1380px 662px #fff, 18px 1747px #fff, 791px 187px #fff, 448px 626px #fff,
    1360px 1440px #fff, 1204px 1612px #fff, 170px 308px #fff, 1889px 362px #fff,
    223px 507px #fff, 674px 35px #fff, 707px 638px #fff, 1129px 960px #fff,
    62px 1692px #fff, 301px 934px #fff, 856px 183px #fff, 146px 1572px #fff,
    1506px 442px #fff, 956px 1669px #fff, 1047px 122px #fff, 1134px 256px #fff,
    161px 173px #fff, 498px 1615px #fff, 1396px 1859px #fff, 654px 630px #fff,
    223px 1627px #fff, 678px 613px #fff, 1787px 1399px #fff, 955px 189px #fff,
    401px 1824px #fff, 5px 280px #fff, 1534px 1228px #fff, 825px 1486px #fff,
    1953px 105px #fff, 822px 1040px #fff, 1995px 1956px #fff, 99px 967px #fff,
    986px 885px #fff, 598px 1655px #fff, 1388px 1214px #fff, 1954px 637px #fff,
    568px 973px #fff, 665px 999px #fff, 968px 1592px #fff, 643px 1836px #fff,
    873px 1095px #fff, 1004px 864px #fff, 446px 804px #fff, 1683px 31px #fff,
    971px 1197px #fff, 950px 996px #fff, 791px 1463px #fff, 1469px 645px #fff,
    683px 565px #fff, 1169px 690px #fff, 833px 661px #fff, 1502px 1852px #fff,
    1186px 272px #fff, 797px 935px #fff, 237px 849px #fff, 1900px 1197px #fff,
    1331px 306px #fff, 96px 934px #fff, 1166px 854px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1283px 1818px #fff, 219px 578px #fff, 610px 1683px #fff,
    275px 642px #fff, 1878px 468px #fff, 1318px 2000px #fff, 82px 751px #fff,
    702px 1954px #fff, 794px 1295px #fff, 864px 502px #fff, 1185px 64px #fff,
    97px 1949px #fff, 970px 265px #fff, 870px 1401px #fff, 337px 441px #fff,
    1922px 1080px #fff, 301px 1003px #fff, 1618px 1157px #fff, 707px 827px #fff,
    23px 433px #fff, 1823px 1142px #fff, 863px 1864px #fff, 480px 576px #fff,
    1868px 963px #fff, 1869px 1510px #fff, 1709px 1688px #fff,
    1825px 1935px #fff, 78px 134px #fff, 1999px 101px #fff, 231px 737px #fff,
    1194px 1740px #fff, 1244px 1416px #fff, 1434px 962px #fff, 249px 41px #fff,
    1675px 420px #fff, 1181px 1090px #fff, 1038px 388px #fff, 948px 793px #fff,
    794px 230px #fff, 601px 358px #fff, 659px 1586px #fff, 1759px 1855px #fff,
    1995px 307px #fff, 140px 365px #fff, 1541px 700px #fff, 1068px 1474px #fff,
    651px 217px #fff, 1370px 798px #fff, 802px 622px #fff, 1291px 1622px #fff,
    1390px 1240px #fff, 1505px 1325px #fff, 1685px 1287px #fff,
    1370px 344px #fff, 1250px 234px #fff, 1764px 158px #fff, 853px 1124px #fff,
    1390px 1400px #fff, 840px 547px #fff, 1880px 1846px #fff, 1105px 601px #fff,
    961px 1080px #fff, 714px 1693px #fff, 828px 50px #fff, 1755px 1161px #fff,
    1487px 1122px #fff, 100px 1233px #fff, 889px 1526px #fff, 1041px 583px #fff,
    331px 603px #fff, 1983px 774px #fff, 182px 872px #fff, 1318px 467px #fff,
    1430px 203px #fff, 771px 761px #fff, 875px 1894px #fff, 1715px 17px #fff,
    1897px 432px #fff, 476px 1810px #fff, 371px 905px #fff, 1795px 1231px #fff,
    1465px 1477px #fff, 697px 278px #fff, 1904px 1347px #fff, 806px 1852px #fff,
    1181px 673px #fff, 664px 70px #fff, 1219px 59px #fff, 1909px 1070px #fff,
    1719px 1859px #fff, 1226px 1417px #fff, 400px 694px #fff, 1769px 1138px #fff,
    433px 962px #fff, 1879px 251px #fff, 1581px 1164px #fff, 951px 49px #fff,
    731px 1880px #fff, 1608px 844px #fff, 208px 1158px #fff, 1007px 1531px #fff,
    1330px 546px #fff, 1175px 1633px #fff, 442px 783px #fff, 1880px 766px #fff,
    97px 1296px #fff, 1837px 1196px #fff, 11px 950px #fff, 1223px 779px #fff,
    307px 1167px #fff, 1959px 1011px #fff, 108px 1448px #fff, 872px 472px #fff,
    566px 569px #fff, 248px 1429px #fff, 1142px 1029px #fff, 964px 471px #fff,
    83px 401px #fff, 1588px 444px #fff, 1312px 1832px #fff, 1871px 1138px #fff,
    1485px 399px #fff, 1148px 1199px #fff, 531px 1558px #fff, 1417px 1735px #fff,
    836px 1564px #fff, 1734px 1489px #fff, 1221px 304px #fff, 939px 466px #fff,
    1034px 125px #fff, 408px 79px #fff, 123px 344px #fff, 95px 1364px #fff,
    887px 1561px #fff, 75px 882px #fff, 1859px 1627px #fff, 1125px 1679px #fff,
    1380px 662px #fff, 18px 1747px #fff, 791px 187px #fff, 448px 626px #fff,
    1360px 1440px #fff, 1204px 1612px #fff, 170px 308px #fff, 1889px 362px #fff,
    223px 507px #fff, 674px 35px #fff, 707px 638px #fff, 1129px 960px #fff,
    62px 1692px #fff, 301px 934px #fff, 856px 183px #fff, 146px 1572px #fff,
    1506px 442px #fff, 956px 1669px #fff, 1047px 122px #fff, 1134px 256px #fff,
    161px 173px #fff, 498px 1615px #fff, 1396px 1859px #fff, 654px 630px #fff,
    223px 1627px #fff, 678px 613px #fff, 1787px 1399px #fff, 955px 189px #fff,
    401px 1824px #fff, 5px 280px #fff, 1534px 1228px #fff, 825px 1486px #fff,
    1953px 105px #fff, 822px 1040px #fff, 1995px 1956px #fff, 99px 967px #fff,
    986px 885px #fff, 598px 1655px #fff, 1388px 1214px #fff, 1954px 637px #fff,
    568px 973px #fff, 665px 999px #fff, 968px 1592px #fff, 643px 1836px #fff,
    873px 1095px #fff, 1004px 864px #fff, 446px 804px #fff, 1683px 31px #fff,
    971px 1197px #fff, 950px 996px #fff, 791px 1463px #fff, 1469px 645px #fff,
    683px 565px #fff, 1169px 690px #fff, 833px 661px #fff, 1502px 1852px #fff,
    1186px 272px #fff, 797px 935px #fff, 237px 849px #fff, 1900px 1197px #fff,
    1331px 306px #fff, 96px 934px #fff, 1166px 854px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1204px 1180px #fff, 1599px 1882px #fff, 1441px 355px #fff,
    735px 138px #fff, 1517px 1704px #fff, 551px 1280px #fff, 1098px 1364px #fff,
    972px 1913px #fff, 966px 1950px #fff, 307px 453px #fff, 1058px 1372px #fff,
    805px 1961px #fff, 533px 1000px #fff, 1056px 1466px #fff, 371px 806px #fff,
    152px 1402px #fff, 923px 204px #fff, 168px 975px #fff, 1964px 210px #fff,
    623px 1657px #fff, 1445px 1366px #fff, 827px 1921px #fff, 1410px 1993px #fff,
    1822px 70px #fff, 1507px 1971px #fff, 805px 728px #fff, 660px 1074px #fff,
    389px 35px #fff, 1599px 1929px #fff, 1291px 613px #fff, 1880px 63px #fff,
    874px 1018px #fff, 1702px 335px #fff, 1584px 1010px #fff, 808px 412px #fff,
    762px 1812px #fff, 1525px 1154px #fff, 1876px 1447px #fff, 1680px 674px #fff,
    1557px 1581px #fff, 614px 1722px #fff, 1716px 1047px #fff, 64px 842px #fff,
    716px 934px #fff, 1281px 1967px #fff, 980px 1579px #fff, 1110px 334px #fff,
    1846px 1784px #fff, 1972px 1266px #fff, 1869px 1008px #fff,
    1796px 1289px #fff, 1264px 278px #fff, 1323px 6px #fff, 844px 1112px #fff,
    1485px 1160px #fff, 394px 207px #fff, 1906px 550px #fff, 880px 1898px #fff,
    583px 1944px #fff, 977px 1823px #fff, 243px 1240px #fff, 352px 450px #fff,
    463px 635px #fff, 789px 929px #fff, 1233px 1122px #fff, 1971px 1440px #fff,
    209px 615px #fff, 399px 793px #fff, 1352px 451px #fff, 665px 1767px #fff,
    1533px 649px #fff, 69px 1678px #fff, 1993px 1003px #fff, 709px 1051px #fff,
    1614px 1192px #fff, 1990px 613px #fff, 1700px 449px #fff, 789px 1013px #fff,
    1884px 212px #fff, 381px 1835px #fff, 384px 1453px #fff, 1734px 1949px #fff,
    67px 1078px #fff, 1815px 1935px #fff, 875px 778px #fff, 643px 368px #fff,
    1233px 1214px #fff, 817px 1754px #fff, 39px 702px #fff, 522px 883px #fff,
    59px 846px #fff, 1565px 565px #fff, 1095px 754px #fff, 1392px 1555px #fff,
    647px 521px #fff, 700px 624px #fff, 151px 1737px #fff, 659px 60px #fff,
    1124px 352px #fff, 1676px 302px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1204px 1180px #fff, 1599px 1882px #fff, 1441px 355px #fff,
    735px 138px #fff, 1517px 1704px #fff, 551px 1280px #fff, 1098px 1364px #fff,
    972px 1913px #fff, 966px 1950px #fff, 307px 453px #fff, 1058px 1372px #fff,
    805px 1961px #fff, 533px 1000px #fff, 1056px 1466px #fff, 371px 806px #fff,
    152px 1402px #fff, 923px 204px #fff, 168px 975px #fff, 1964px 210px #fff,
    623px 1657px #fff, 1445px 1366px #fff, 827px 1921px #fff, 1410px 1993px #fff,
    1822px 70px #fff, 1507px 1971px #fff, 805px 728px #fff, 660px 1074px #fff,
    389px 35px #fff, 1599px 1929px #fff, 1291px 613px #fff, 1880px 63px #fff,
    874px 1018px #fff, 1702px 335px #fff, 1584px 1010px #fff, 808px 412px #fff,
    762px 1812px #fff, 1525px 1154px #fff, 1876px 1447px #fff, 1680px 674px #fff,
    1557px 1581px #fff, 614px 1722px #fff, 1716px 1047px #fff, 64px 842px #fff,
    716px 934px #fff, 1281px 1967px #fff, 980px 1579px #fff, 1110px 334px #fff,
    1846px 1784px #fff, 1972px 1266px #fff, 1869px 1008px #fff,
    1796px 1289px #fff, 1264px 278px #fff, 1323px 6px #fff, 844px 1112px #fff,
    1485px 1160px #fff, 394px 207px #fff, 1906px 550px #fff, 880px 1898px #fff,
    583px 1944px #fff, 977px 1823px #fff, 243px 1240px #fff, 352px 450px #fff,
    463px 635px #fff, 789px 929px #fff, 1233px 1122px #fff, 1971px 1440px #fff,
    209px 615px #fff, 399px 793px #fff, 1352px 451px #fff, 665px 1767px #fff,
    1533px 649px #fff, 69px 1678px #fff, 1993px 1003px #fff, 709px 1051px #fff,
    1614px 1192px #fff, 1990px 613px #fff, 1700px 449px #fff, 789px 1013px #fff,
    1884px 212px #fff, 381px 1835px #fff, 384px 1453px #fff, 1734px 1949px #fff,
    67px 1078px #fff, 1815px 1935px #fff, 875px 778px #fff, 643px 368px #fff,
    1233px 1214px #fff, 817px 1754px #fff, 39px 702px #fff, 522px 883px #fff,
    59px 846px #fff, 1565px 565px #fff, 1095px 754px #fff, 1392px 1555px #fff,
    647px 521px #fff, 700px 624px #fff, 151px 1737px #fff, 659px 60px #fff,
    1124px 352px #fff, 1676px 302px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
